@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navText {
  color: rgb(211, 211, 211);
}

.titleColor {
  color: #ff3826;
}
.subTitleColor {
  color: #967500;
}

.bgTitleColor {
  background-color: #ff3826;
}

.serviceCard:hover {
  border-radius: 0px;
  box-shadow: 11px 11px 20px #cccccc, -11px -11px 20px #cccccc;
  transition: all 0.3s ease-in-out;
}

.serviceCard:hover .serviceTitle {
  color: #ff3826;
  transition: all 0.3s ease-in-out;
}

.serviceCard:hover .serviceContent {
  color: #646464;
  transition: all 0.3s ease-in-out;
}
